.git
.venv
venv
env
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
htmlcov
coverage.xml
junit.xml
.tox
.nox
build
dist
**/*.egg-info
.idea
.vscode
**/*.swp
**/.DS_Store
**/Thumbs.db
**/Desktop.ini
